body{
  background-image: url("https://cdn.discordapp.com/attachments/893663423164989440/896486493927907328/sunset.png");
}

.App {
  text-align: center;
}

#App {
  padding: 10px;
  text-align: center;
  font-size: 50px;
  font-style: Microsoft New Tai Lue;
  color:#1F6D2F;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #863131;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.HomeBox{
  border: 1px solid black;
  background-color: #ffffff;
  border-radius: 50px;
  width: 700px;
  height: 680px;
  margin-left: 350px;
  border: 0px;
}

.Head{
  padding-top: 70px;
  text-align: center ;
}

.SecondHead{
  text-align: center;
  font-size: 1.5rem;
  font-weight: bolder;
 padding-top: 20px;
}

button{
  background-color: #B4D2F3;
  color: #1F6D2F;
  border: 0px;
  width: 300px;
  height: 50px;
  font-weight: bolder;
  font-size: 1.5rem;
  cursor: pointer;
}

.HomeLoginButton{
  padding-top: 80px;
}

.HomeSignUpButton{
  padding-bottom: 10px;
}