#LoginPage {
    width: 100%;
    height: 100%;
}

.login-form {
    background-color: #ffffff;
    border-radius: 50px;
    width: 700px;
    height: 680px;
    margin-left: 350px;
    border: 0px;
    font-size: 50px;
    font-style: Microsoft New Tai Lue;
    color:#1F6D2F;
}

body {
    width: 100%;
    height: 100%;
}

.LoginHeader {
    margin-top: 0;
    text-align: center;
    font-weight: bolder;
    font-size: 3vw;
}

.LoginInputText {
    padding-left: 100px;
}

input {
    text-align: center;
    width: 500px;
    height: 50px;
    background-color: #B4D2F3;
    border: 0px;
    margin-left: 100px;
}

.LoginReadyButton {
    padding-top: 75px;
    text-align: center;
}

label {
    font-size: 2vw;
}

.ImgLink {
    width: 100px;
    height: 100px;
}